<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>889273926341-jcunq1388igbq9044cm54isolkhjg5lo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889273926341-jcunq1388igbq9044cm54isolkhjg5lo</string>
	<key>API_KEY</key>
	<string>AIzaSyB_wRPxa14PDD-CfDaYRAbQfUNEjmXfzpo</string>
	<key>GCM_SENDER_ID</key>
	<string>889273926341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dailyexpenses.bigbsoft.io</string>
	<key>PROJECT_ID</key>
	<string>daily-expenses-80aea</string>
	<key>STORAGE_BUCKET</key>
	<string>daily-expenses-80aea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889273926341:ios:b70e3a1010bca7769de6ac</string>
	<key>DATABASE_URL</key>
	<string>https://daily-expenses-80aea.firebaseio.com</string>
</dict>
</plist>